
body {
    margin: 0;
    padding: 0;
    font-family: lobster, Verdana, Tahoma, sans-serif;
    background-size: cover;
    background-color: lightblue;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    position: relative;
}

header {
    background-color: royalblue;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #fff; /* White text color for the title */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

nav a:hover {
    background-color: royalblue;
}

main {
    padding: 20px;
    flex: 1;
}

.intro {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro h2 {
    color: royalblue;
}

#contact-info {
    padding: 80px;
    text-align: center; /* Center text within the #contact-info section */
    color: white;
    background-color: royalblue
   
}

#contact-info h2 {
    color: darkgray; /* Gray Text for slight contrast*/

}

/* Footer styling */
footer {
    background-color: #4169e1;
    text-align: center;
    padding: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff; /* White text color for the GitHub link */
    text-decoration: none;
}

footer p {
    color: #fff; /* White text color for the contact paragraph */
    margin: 10px 0;
}

footer a:hover {
    color: royalblue;
}
